{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    Edit Account
{% endblock %}
<!-- Content -->
{% block  container %} 

<link href="{% static 'accounts/css/master.css' %}" rel="stylesheet">
  <!-- Start Body -->
  <div class="container p-5 my-5 shadow-lg rounded-3 bg-white">
    <div class="row align-items-center">
      <img src="{% static 'accounts/images/resgister.jpg' %}" class="col-6" width="300"/>
      <div class="col-6 pb-5">
        <form method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <button type="submit" class="btn btn-success mt-4">Submit Change</button>
          <a href="{% url 'profile.edit.Password' %}" class="btn btn-outline-danger mt-4">Change Password</a>
        </form>
      </div>
    </div>
  </div>

    <!-- End Body -->
{% endblock %}
{% block script %}
<script>
  selects= document.querySelectorAll('select')
  
  for (var d =0; d < selects.length; d++){
    selects[d].classList.add('form-control')
}
  console.log('hello')
  console.log(select)
</script>
  {% endblock %}