{% extends "layouts/base.html" %} {% load static %} {% block title %} Login
{%endblock %} {% block container %}
<link href="{% static  'accounts/css/master.css' %}" rel="stylesheet" />
<!-- Start Body -->
<div class="profile container p-5 my-5 shadow-lg rounded-3 bg-white">
  <div class="row align-items-center">
    <img
      src="{% static 'accounts/images/login.jpg' %}"
      class="col-6"
      width="300"
    />
    <div class="col-6 pb-5">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form }}
        
        <div class="d-flex justify-content-evenly align-items-center mt-4">
          <button
          type="submit"
          class="btn btn-outline-success"
        >
          Login
        </button>
        <a
          href="{% url 'account.create' %}"
          class="text-decoration-none text-success"
          >Forgot Password?</a
        >
        </div>
        <hr class="text-success"/>
      </form>
      <div class="text-center">
        <a
          href="{% url 'account.create' %}"
          class="text-decoration-none text-success"
          >Create Now Account!</a
        >
        
      </div>
    </div>
  </div>
</div>
<script src="{% static  'accounts/js/script.js' %}"></script>
{% endblock %}
