{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} <title>Donations History</title>  {% endblock %}
{% block container %}
<div class="container justify-content-center text-center  pt-5">
  <form method="get" action="{% url 'donations.search' %}" class="d-flex ms-auto" role="search" style="width: 350px;">
   <div class="input-group">
     <input type="text" name="search_query" class="form-control me-2" placeholder="Search"  style="border-radius: 17px;">
     <select name="search_type" class="form-select text-secondary me-2 flex-shrink-1"  style="border-radius: 17px; width: 20px;">
       <option value="project">Search By Project</option>
       <option value="amount">Search By Amount</option>
     </select>
     <button type="submit" class="btn text-success px-2" style="border-radius: 20px;"><i class="fa-brands fa-searchengin fs-5"></i></button>
   </div>
  </form>
 </div>
<div class="row m-5 pt-5 container justify-content-center mx-auto">  
  {% for donation in donations %}
  <div style="width: 70%; border: 3px solid; padding: 10px; border-radius: 25px;" class="border-success m-2 d-flex">
    <h1 class="text-success d-flex">
      <i class="fa-solid fa-plus fs-3 my-auto"></i>
      <span class="text-warning my-auto mx-2">{{donation.amount}}</span>
      <i class="fa-solid fa-dollar-sign text-warning my-auto"></i>
    </h1>
    <p class="text-success mx-auto my-auto d-flex">
      <i class="fa-regular fa-calendar-days my-auto mx-2"></i> 
      <span class="border border-success rounded p-1 my-auto fs-5">{{donation.created_at}}</span>
    </p>
    <p class="text-success ms-auto my-auto d-flex">
      <i class="fa-solid fa-arrow-right fs-5 my-auto"></i>
      <span class="btn btn-success my-auto mx-2">{{donation.project.title}}</span>
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}