{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'base/css/master.css'%}" rel="stylesheet" />
    <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet">
    <style>
      .header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
      }
    </style>
    <title>
    {% block title %}
    {% endblock %}
    </title>
    {% block style %}
    {% endblock %}
</head>
<body>
  <nav class="header navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item my-auto ms-2">
            <a class="nav-link text-center" href="{% url 'projects:all_project' %}">
              <span class="text-success fw-bold">Explore Projects</span>
            </a>
          </li>
          <li class="nav-item my-auto ms-2"> 
            <form method="get" action="{% url 'search_projects' %}" class="d-flex mb-0" role="search" style="width: 350px;">
              <div class="input-group">
                <input type="text" name="search_query" class="form-control me-2" placeholder="Search"  style="border-radius: 17px;">
                <select name="search_type" class="form-select text-secondary me-2 flex-shrink-1"  style="border-radius: 17px; width: 20px;">
                  <option value="title">Search By Title</option>
                  <option value="tag">Search By Tag</option>
                </select>
                <button type="submit" class="btn text-success px-2" style="border-radius: 20px;"><i class="fa-brands fa-searchengin fs-5"></i></button>
              </div>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item my-auto ms-2">
            <a class="nav-link fw-bold text-success fs-5" aria-current="page" href="{% url 'homepage.index' %}">
              <i class="fa-solid fa-hand-holding-dollar fs-5 text-success"></i> RaiseTogether
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item my-auto ms-2">
            <a class="nav-link text-center  my-auto me-4 px-3 py-2" style="font-size: 17px;" href="{% url 'projects:projects.create' %}">
              <span class="text-success ms-3" style="font-size: 17px;">Start New Project</span>
            </a>
          </li>
          {% if user.id %}
          <div class="dropdown">
            <button class="btn btn-outline-success  dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.image %}
              <img src="{{ user.image.url }}" class="ms-1" width="30" height="30" style="border-radius: 50%;"/>
              {% else %}
              <img src="{% static 'base/images/no_profile_image.png' %}" class="ms-1" width="30" height="30" style="border-radius: 50%;"/>
              {% endif %}
              {{user.first_name}} {{user.last_name}}  
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-success" href="{% url 'profile.view' %}">My Porfile </a>
              </li>
              <li>
                <a class="dropdown-item text-success" href="{% url 'donations.history'%}">My Donations</a>
              </li>
              <li>
                <a class="dropdown-item text-success" href="{% url 'projects:myprojects' %}">My Projects</a>
              </li>
              <li>
                <a class="dropdown-item text-success" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-success " href="{% url 'login' %}">Log In <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success " href="">Register <i class="fa-solid fa-registered"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if messages %}
    {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          {{ message }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  {% block container %}
  {% endblock %}
  <footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between py-2 px-5  border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="" class="me-4 link-secondary"><i class="fa-brands fa-facebook"></i></a>
      <a href="" class="me-4 link-secondary"><i class="fa-brands fa-twitter"></i></a>
      <a href="" class="me-4 link-secondary"><i class="fa-brands fa-google"></i></a>
      <a href="" class="me-4 link-secondary"> <i class="fa-brands fa-instagram"></i></a>
      <a href="" class="me-4 link-secondary"><i class="fa-brands fa-linkedin"></i></a>
      <a href="" class="me-4 link-secondary"><i class="fa-brands fa-github"></i></a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-3">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
          <h6 class="text-uppercase fw-bold mb-3">
            <i class="fa-solid fa-hand-holding-dollar text-success fs-1 me-1"></i> Let`s Help Each Other
          </h6>
          <p>
            You can donate through us to projects that you find worthy of your money.
            You can also create your own projects to collect donations from our customers
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2 text-center">
          <h6 class="text-uppercase fw-bold mb-3">Owners</h6>
          <div class="row">
            <div class="col col-6">
              <p><a href="#!" class="text-reset text-decoration-none"><i class="fa-solid fa-user text-secondary"></i> Shehab</a></p>
              <p><a href="#!" class="text-reset text-decoration-none"><i class="fa-solid fa-user text-secondary"></i> Fraag</a></p>
              <p><a href="#!" class="text-reset text-decoration-none"><i class="fa-solid fa-user text-secondary"></i> Mager</a></p>
            </div>
            <div class="col col-6">
              <p><a href="#!" class="text-reset text-decoration-none"><i class="fa-solid fa-user text-secondary"></i> Reham</a></p>
              <p><a href="#!" class="text-reset text-decoration-none"><i class="fa-solid fa-user text-secondary"></i> Sara</a></p>
              <p><a href="#!" class="text-reset text-decoration-none"><i class="fa-solid fa-user text-secondary"></i> Sarah</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2 text-center">
          <h6 class="text-uppercase fw-bold mb-3">Useful links</h6>
          <p class=" mb-1"><a href="#!" class="text-reset btn btn-outline-dark border-0 w-50">Home</a></p>
          <p class=" mb-1"><a href="#!" class="text-reset btn btn-outline-dark border-0 w-50">Help</a></p>
          <p class=" mb-1"><a href="#!" class="text-reset btn btn-outline-dark border-0 w-50">Donate</a></p>
          <p class=" mb-1"><a href="#!" class="text-reset btn btn-outline-dark border-0 w-50">Settings</a></p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <h6 class="text-uppercase fw-bold mb-3">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Mansoura, QL 10012, EG</p>
          <p><i class="fas fa-envelope me-3 text-secondary"></i> django-project@iti.com</p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>

  </section>
    <div class="text-center py-2 px-5" style="background-color: rgba(0, 0, 0, 0.025);">
     © 2021 Copyright:<a class="text-reset fw-bold" href="https://mdbootstrap.com/">campaign.com</a>
    </div>
  </footer>
  <script src="{% static  'accounts/js/scriptt.js' %}"></script>
  <script src="{% static  'base/js/script-1.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>