{% extends "layouts/base.html" %}
{% load static %}


{% block container %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">

<h1 style="color:rgb(147, 22, 22); font-family:'Courier New', Courier, monospace; font-weight:800; text-align: center; ">Delete Project</h1>

<p style="color: black; text-align: center; font-weight: 700; margin-top: 50px;">Are You Sure You Want To Delete This Project?  {{ project.title }}</p>

<form action="" method="post" style="text-align: center;">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger text-dark mt-3 px-4 " >Delete</button>
    <a href="/projects/" class="btn btn-outline-success text-dark mx-5 mt-3 px-4 " >Cancel</a>
    </form>
   


    <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
{% endblock %}