{% extends 'layouts/base.html' %} {% load static %} {% block title %} Profile
{%endblock %} {% block container %}
<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            src="{% if user.image or user.image == 'None' %}
            {{ user.image.url }}
            {% else %}
            {% static 'base/images/no_profile_image.png' %}
            {% endif %}"
            alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px;" />

          <h5 class="my-3">{{user.first_name}} {{user.last_name}}</h5>
          <div class="d-flex justify-content-center mb-2">
            <a href="{% url 'profile.edit' %}" type="button" class="btn btn-outline-success">Edit Profile</a>
            <a href="{% url 'profile.delete.confirm' %}" type="button" class="btn btn-outline-danger ms-1">Delete
              Profile</a>

          </div>
          {% if user.facebook_profile %}
          <a class="btn btn-outline-primary" href="{{ user.facebook_profile }}" target="_blank">
            <i class="fab fa-facebook-square" style="font-size: 1.5em;"></i>
            Visit Facebook
          </a>
          {% else %}
          No Facebook profile provided
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.first_name}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.last_name}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">User Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.username}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.email}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.phone}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">birth_date</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.birth_date}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">country</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.country}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pe-0">
      <div class="col-md-6">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">
            <div class="text-success font-italic mb-2"><h4>Your Projects </h4></div>
            {% if user_projects %}
              {% for project in user_projects %}
              <hr/>
              <h5 class="p-0 m-0" style="text-decoration: none;">{{ project.title }}</h5>
              <!-- Display other project details -->
              {% empty %}
              <hr/>
              <h5 class="p-0 m-0" style="text-decoration: none;">No projects found.</h5>
              {% endfor %}
            {% else %}
            <hr/>
            <h5 class="p-0 m-0" style="text-decoration: none;">No projects found.</h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6 pe-0">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">
            <div class="text-success font-italic mb-2"><h4>Your Donations</h4></div>
            {% if user_donations %}
              {% for donation in user_donations %}
              <hr />
              <h5 class="p-0 m-0" style="text-decoration: none;">{{ donation.project.title }} : {{ donation.amount }}$</h5>
              <!-- Display other donation details -->
              {% empty %}
              <hr />
              <h5 class="p-0 m-0" style="text-decoration: none;">>No donations found.</h5>
              {% endfor %}
            {% else %}
            <hr/>
            <h5 class="p-0 m-0" style="text-decoration: none;">No donations found.</h5>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}