{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
Create Account
{% endblock %}

{% block container %}
<link href="{% static 'accounts/css/master.css' %}" rel="stylesheet">
  <!-- Start Body -->
  <div class="container p-5 my-5 shadow-lg rounded-3 bg-white">
    <div class="row align-items-center">
      <img src="{% static 'accounts/images/resgister.jpg' %}" class="col-6" width="300"/>
      <div class="col-6 pb-5">
        <form method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <button type="submit" class="btn text-white mt-4" style="background-color: #5585b5;">Submit</button>
        </form>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
      </div>
    </div>
  </div>
  <!-- End Body -->
{% endblock %}