{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Raise Together{% endblock %}
{% block container %}
<div class="container-fluid px-0">
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
      {% for project in top_rated_projects %}
      <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %} position-relative ">
        <img src="{{ project.images.first.get_image_url }}" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-light py-0">
          <h3>{{project.title}}</h3>
          <a href="{% url 'projects:project_detail' project.id %}" class="carousel-link btn text-light fs-4"><i class="fa-solid fs-5 fa-circle-info"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- End Slider -->
<div class="container py-5">

  <!-- Start Last 5 Project -->
  <div class="container pb-5">
    <p style="color: #767676!important;">Where You Can Help</p>
    <h2 class="mb-4">Recently Added</h2>
    <div class="row row-cols-1 row-cols-md-5 justify-content-center g-4">
      {% for project in latest_projects %}
        <div class="col">
          <div class="card border-0 shadow-sm bg-light">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for image in project.images.all %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <img src="{{image.get_image_url}}" class="d-block w-100 rounded-3" alt="..." style="height: 200px;">
                </div>
                {% endfor %}
              </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title"><span class="truncated">{{ project.title|slice:":20" }}</span></h5>
              <p class="card-text "><small style="font-weight: 500;">Will Finish At: </small ><small class="text-body-secondary">{{ project.end_time|date:'m - d - Y' }}</small></p>
              <div class="d-flex justify-content-between align-items-end mt-4">
                <a href="{% url 'donations.add' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-hand-holding-dollar"></i></a>
                {% if user == project.created_by %}
                <a href="{% url 'projects:projects.edit' project.id%}" class="btn text-success p-0"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'projects:project.delete' project.id%}" class="btn text-danger p-0"><i class="fa-solid fa-x"></i></a>
                {% endif %}
                <a href="{% url 'projects:project_detail' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-circle-info"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- End Last 5 Project -->

  <!-- Start Last 5 Featured Project -->
  <div class="container py-5">
    <h2 class="mb-4">Featured Project</h2>
    <div class="row row-cols-1 row-cols-md-5 justify-content-center g-4">
      {% for project in latest_featured_projects %}
        <div class="col">
          <div class="card border-0 shadow-sm bg-light">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for image in project.images.all %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <img src="{{image.get_image_url}}" class="d-block w-100 rounded-3" alt="..." style="height: 200px;">
                </div>
                {% endfor %}
              </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title"><span class="truncated">{{ project.title|slice:":20" }}</span></h5>
              <p class="card-text"><small style="font-weight: 500;">Finish At: </small><small class="text-body-secondary">{{ project.end_time|date:'m - d - Y' }}</small></p>
              <div class="d-flex justify-content-between align-items-end mt-4">
                <a href="{% url 'donations.add' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-hand-holding-dollar"></i></a>
                {% if user == project.created_by %}
                <a href="{% url 'projects:projects.edit' project.id%}" class="btn text-success p-0"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'projects:project.delete' project.id%}" class="btn text-danger p-0"><i class="fa-solid fa-x"></i></a>
                {% endif %}
                <a href="{% url 'projects:project_detail' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-circle-info"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- End Last 5 Featured Project -->

  <!-- Start Categories -->
  <div class="container-fluid p-5 shadow-sm rounded-3 bg-light">
    <h2 class="mb-4">Our Categories</h2>
    {% for category in  categories %}
      <a href="{{category.get_show_url}}" class="btn btn-outline-success mb-3 me-1">
        {{category}}
      </a>
    {% endfor %}
  </div>
  <!-- End Categories -->
</div>
{% endblock %}