{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} <title>Search</title>{% endblock %}
{% block container %}
<div class="container py-5">
  <div style="width: 1000;" class="mx-auto ">
    <form method="get" action="{% url 'search_projects' %}" class="d-flex justify-content-between align-items-center ">
      {{ form }}
      <button type="submit" class="btn btn-success ms-4 px-4 d-flex align-items-center "><i class="fa-brands fa-searchengin me-2"></i> Search</button>
    </form>
  </div>
  
  {% if projects %}
    <h2 class="my-4">Search Results:</h2>
    <div class="row row-cols-1 row-cols-md-4 justify-content-center g-4">
      {% for project in projects %}
        <div class="col">
          <div class="card border-0 shadow-sm bg-light">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for image in project.images.all %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <img src="{{image.get_image_url}}" class="d-block w-100 rounded-3" alt="..." style="height: 200px;">
                </div>
                {% endfor %}
              </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title"><span class="truncated">{{ project.title|slice:":20" }}</span></h5>
              <p class="card-text"><span style="font-weight: 500;">Will Finish At: </span><small class="text-body-secondary">{{ project.end_time|date:'m - d - Y' }}</small></p>
              <div class="d-flex justify-content-between align-items-end mt-4">
                <a href="" class="btn text-success p-0"><i class="fa-solid fs-5 fa-hand-holding-dollar"></i></a>
                {% if user == project.created_by %}
                <a href="" class="btn text-success p-0"><i class="fa-regular fs-5 fa-pen-to-square"></i></a>
                <a href="" class="btn text-danger p-0"><i class="fa-solid fs-5 fa-trash"></i></a>
                {% endif %}
                <a href="{% url 'project_detail' project.id %}" class="btn text-success p-0"><i class="fa-solid fs-5 fa-circle-info"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No projects found.</p>
  {% endif %}
</div>
{% endblock %}