{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    <title>Add Comment Reply</title>
{% endblock %}

{% block container %}
<div class="container p-5 my-5  shadow rounded-3 bg-white" style="width: 1000px;">
    <div class="row align-items-center">
        <img src="{% static 'projects/images/comment.jpg' %}" class="col-6" width="300" />
        <div class="col-6">
            <form method="post">
              {% csrf_token %}
              {{ reply_form.as_p }}
              <button type="submit" class="btn btn-outline-success">Submit</button>
            </form>
            <hr>
            <div class="text-center" >
                <a href="/projects" class="text-decoration-none text-success">&larr; Back to Projects</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}