{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} <title>{{project.title}}</title>{% endblock %}
{% block container %}
<div class="container py-5">
    <div class="row justify-content-evenly">
        <h3 class="mb-4 ms-5 ps-4">{{project.title}}</h3>
        <div class="col-6">
            <!-- Images Slider -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="height: 500px;">
                <div class="carousel-inner">
                {% for image in project.images.all %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img src="{{image.get_image_url}}" class="d-block w-100 h-100" alt="..." >
                </div>
                {% endfor %}
                </div>
            </div>
            <!-- Owner -->
            <p class="fs-5 my-3">
                {% if project.created_by.image %}
                <img src="{{ project.created_by.image.url }}" class="me-3" width="30" height="30" style="border-radius: 50%;"/>
                {% else %}
                <img src="{% static 'base/images/no_profile_image.png' %}" class="ms-1" width="30" height="30" style="border-radius: 50%;"/>
                {% endif %}
                {{project.created_by.first_name}} {{project.created_by.last_name}} is Owner this Project.
                {% if user == project.created_by %}
                <a href="{% url 'projects:projects.edit' project.id%}" class="btn text-success p-0 mx-4"><i class="fa-regular fa-pen-to-square"></i></a>
               
                <a href="{% url 'projects:project.delete' project.id%}" class="btn text-danger p-0 mx-4"><i class="fa-solid fa-x"></i></a>
                {% endif %}
                
            </p>
            <hr>

            <!-- Details - Tags -->
            <p class="lh-lg fs-5 mb-0 overflow-auto" style="letter-spacing: 1px;">
                {{project.details}}
            </p>
            <p class="text-secondary ">
                {% for tag in project.tags.all %}
                <small class="me-3">{{tag.tag}}</small>
                {% endfor %}
            </p>
            <hr>

            <!-- Links -->
            <div class="links row justify-content-center my-4">
                <a href="{% url 'donations.add' project.id %}" class="col-5 btn btn-success py-2 me-4 fs-5" style="border-radius: 15px;">Donate <i class="fa-solid fa-hand-holding-dollar"></i></a>
                <a href="{% url 'projects:project.rate' project.id %}" class="col-5 btn btn-outline-success py-2 fs-5" style="border-radius: 15px;">Rate <i class="fa-solid fa-star"></i></a>
            </div>
            <hr>

            <!-- Comment -->
            <div class="comments my-4">
                <div class="add-comment d-flex justify-content-between align-items-center">
                    <h4>Words of Support ({{ project.comments.all|length }})</h4>
                    <a class="btn text-success my-3 " href="{% url 'projects:add_comment' project_id=project.id %}"><i class="fa-regular fa-comment fs-3 me-5"></i></a>
                </div> 
                {% for comment in comments %}
                <div class="comment mb-5">
                    <div class="user-info">
                        <span>
                            {% if comment.user.image %}
                            <img src="{{ comment.user.image.url }}" class="me-3" width="30" height="30" style="border-radius: 50%;"/>
                            {% else %}
                            <img src="{% static 'base/images/no_profile_image.png' %}" class="ms-1" width="30" height="30" style="border-radius: 50%;"/>
                            {% endif %}
                            {{comment.user.first_name}} {{comment.user.last_name}}
                        </span>
                        <small class="text-secondary ms-5">Created {{ comment.created_at|timesince }} ago</small>
                        <p class="ms-5 mt-3" style="font-size: 19px;"> 
                            {{ comment.content }}
                            <a href="{% url 'projects:add_comment_reply' comment_id=comment.id %}" class="text-success me-5 text-decoration-none"><i class="fa-solid fa-reply mx-5"></i></a> 
                            <a href="{% url 'projects:report_comment' comment_id=comment.id %}" class="text-success me-5"><i class="fa-solid fa-bug fs-6"></i></a>
                        </p>
                        <!-- Replies -->
                        <div class="replies ms-5">
                            {% for reply in comment.replies.all %}
                            <div class="reply mb-4">
                                <span>
                                    {% if reply.user.image %}
                                    <img src="{{ reply.user.image.url }}" class="me-3" width="30" height="30" style="border-radius: 50%;"/>
                                    {% else %}
                                    <img src="{% static 'base/images/no_profile_image.png' %}" class="ms-1" width="30" height="30" style="border-radius: 50%;"/>
                                    {% endif %}
                                    {{reply.user.first_name}} {{reply.user.last_name}}
                                </span>
                                <small class="text-secondary ms-5">Created {{ reply.created_at|timesince }} ago</small>
                                <p class="ms-5 mt-3" style="font-size: 19px;"> 
                                    {{ reply.content }} 
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- --------------------------------------------------- -->
        <div class="col-4 p-4 shadow" style="border-radius: 20px; height: 1000px; max-height: 1500px;">
            <!-- Donation -->
            <div class="donation mb-3">
                <p class="fs-4 d-inline-block mb-0">${{project.current_target}}</p>
                <small class="text-secondary">USD raised of ${{project.total_target}} goal</small>
            </div>
            <div class="progress mb-3" style="height: 7px; background-color: #02a95c1f;">
                <div class="progress-bar  bg-success" role="progressbar" style="width: {{ percentage }}%; height: 7px" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-secondary">{{ project.donations.count }} donation</p>
            <hr>

            <div class="some-info">
                <p class="fs-5"><i class="fa-regular fa-calendar text-success"></i> <small class="fs-6 text-secondary">{{ project.start_time|date:'m - d - Y' }} : {{ project.end_time|date:'m - d - Y' }}</small></p>

                <p class="fs-5"><i class="fa-solid fa-star text-success"></i> <small class="fs-6 text-secondary">{{ project.rating }}</small></p>

                <p class="fs-5"><i class="fa-solid fa-qrcode text-success"></i> <small class="fs-6 text-secondary">{{ project.category }}</small></p>
            </div>
            <hr>

            <div class="links row justify-content-center my-4">
                <a href="{% url 'donations.add' project.id %}" class="col-10 btn btn-success py-2 me-4 mb-3 fs-5" style="border-radius: 15px;">Donate <i class="fa-solid fa-hand-holding-dollar"></i></a>
                <a href="{% url 'projects:report_project' project.id %}" class="col-10 btn btn-outline-success py-2 me-4 fs-5" style="border-radius: 15px;">Report <i class="fa-solid fa-bug"></i></a>
            </div>

            <div class="donations my-4">
                {% for donation in  project.donations.all %}
                <div class="comment mb-5">
                    <div class="user-info">
                        <span>
                            <img src="{{ donation.donator.image.url }}" class="me-3 rounded-5" width="30" height="30"/>
                            {{donation.donator.first_name}} {{donation.donator.last_name}}
                        </span>
                        <span class="text-secondary ms-5">
                            <small class="text-dark fw-bold me-4 ms-1">${{ donation.amount }}</small>
                            <small>{{ donation.created_at|timesince }} ago</small>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- ------------------- Simliar Projects --------------------- -->
    <hr>
    <h3 class="py-4">Similar Projects</h3>
    {% if similar_projects %}
    <div class="row row-cols-1 row-cols-md-4 justify-content-center g-4">
        {% for project in similar_projects %}
          <div class="col">
            <div class="card border-0 shadow-sm bg-light">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for image in project.images.all %}
                  <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img src="{{image.get_image_url}}" class="d-block w-100 rounded-3" alt="..." style="height: 200px;">
                  </div>
                  {% endfor %}
                </div>
              </div>
              
              <div class="card-body">
                <h5 class="card-title"><span class="truncated">{{ project.title|slice:":25" }}</span></h5>
                <p class="card-text"><small style="font-weight: 500;">Finish At: </small><small class="text-body-secondary">{{ project.end_time|date:'m - d - Y' }}</small></p>
                <div class="d-flex justify-content-between align-items-end mt-4">
                  <a href="{% url 'donations.add' %}" class="btn text-success p-0"><i class="fa-solid fa-hand-holding-dollar"></i></a>
                  {% if user == project.created_by %}
                  <a href="{% url 'projects:projects.edit' project.id%}" class="btn text-success p-0"><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href="{% url 'projects:project.delete' project.id%}" class="btn text-danger p-0"><i class="fa-solid fa-x"></i></a>
                  {% endif %}
                  <a href="{% url 'projects:project_detail' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-circle-info"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="fs-5 text-center">Sorry There Is No Similar Project Now!</p>
    {% endif %}
</div>
{% endblock %}