{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} <title>Rate Project</title>{% endblock %}
{% block container %}
<div class="profile container p-5 my-5 shadow rounded-3 bg-white" style="width: 1000px;">
    <div class="row align-items-center">
      <img src="{% static 'projects/images/rate.jpg' %}" class="col-6" width="300"/>
      <div class="col-6 pb-5">
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
          <button type="submit" class="btn btn-outline-success rate">Submit</button>
          <hr>
        </form>
        <div class="text-center" >
            <a href="/projects" class="text-decoration-none text-success">&larr; Back to Projects</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}