{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{category.name}}{% endblock %}
{% block container %}
  <div class="container py-5">
    <h2>{{category.name}}</h2>
    <div class="row row-cols-1 row-cols-md-4 justify-content-center g-4">
    {% for project in category.projects.all%}
      <div class="col">
        <div class="card border-0 shadow-sm bg-light">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for image in project.images.all %}
              <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img src="{{image.get_image_url}}" class="d-block w-100 rounded-3" alt="..." style="height: 300px;">
              </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">{{ project.title|slice:":25" }}</h5>
            <p class="card-text"><small style="font-weight: 500;">Will Finish At: </small><small class="text-body-secondary">{{ project.end_time|date:'m - d - Y' }}</small></p>
            <div class="d-flex justify-content-between align-items-end mt-4">
              <a href="{% url 'donations.add' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-hand-holding-dollar"></i></a>
              {% if user == project.created_by %}
              <a href="{% url 'projects:projects.edit' project.id%}" class="btn text-success p-0"><i class="fa-regular fa-pen-to-square"></i></a>
              <a href="{% url 'projects:project.delete' project.id%}" class="btn text-danger p-0"><i class="fa-solid fa-x"></i></a>
              {% endif %}
              <a href="{% url 'projects:project_detail' project.id %}" class="btn text-success p-0"><i class="fa-solid fa-circle-info"></i></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}