{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
Create Account
{% endblock %}

{% block container %}
<link href="{% static 'accounts/css/master.css' %}" rel="stylesheet">
  <!-- Start Body -->
  <div class="container p-5 my-5 shadow-lg rounded-3 bg-white">
    <div class="row align-items-center">
      <img src="{% static 'accounts/images/resgister.jpg' %}" class="col-6" width="300"/>
      <div class="col-6 pb-5">
        <div class="text-center">
            <h3> you can now Login with new password</h3>
          </div>
        <div class="text-center mt-5">
            <a
              href="{% url 'login' %}"
              class="text-decoration-none btn btn-success"
              >Login Now!</a
            >
          </div>
      </div>
    </div>
  </div>

  <script src="{% static 'accounts/js/script.js' %}"></script>
  <!-- End Body -->
{% endblock %}